<h1>Welcome to my solution for Pizza Challenge</h1>

<%= link_to 'All Orders', orders_path %>
<br><br>
<%= link_to 'Create New Order', new_order_path %>
<br><br>
<%= link_to 'All Completed Orders', orders_path, state: 'completed'  %>
<br><br>
<%= link_to 'All Pending Orders', orders_path, state: 'pending' %>